<div class="row">
    <div class="large-12 columns">
        <span id="error" class="error"></span>
        <h1>Workouts <i class="fa fa-spin fa-spinner"></i></h1>
        <table>
            <thead>
                <tr>
                    <td>User</td>
                    <td>Summary</td>
                    <!-- Requirement: Display a summary section that will roll
                        up some neat stats about the results. -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in leaderboardCtl.leaderboardData">
                    <!-- User -->
                    <td><img class="profile-image" ng-src="{{row.profileImg}}">
                        <a href="{{row.profileUrl}}">{{row.username}}</a>
                    </td>

                    <!-- Summary -->
                    <td>
                        <span class="label">
                            Rank: {{row.rank}}/{{leaderboardCtl.workoutCount}}
                            <i class="fa fa-trophy"></i>
                        </span>

                        <!-- Not much data for this, so leaving out for now
                        <p>Tests:
                            <ul>
                                <li ng-repeat="test in row.tests">{{test}}</li>
                            </ul>
                        </p>
                        -->

                        <h5>Workouts</h5>
                        <ul>
                            <li ng-repeat="test in row.userTests">
                                <span class="label">
                                    Workout intensity {{test.value}} <i class="fa fa-heart"></i> 
                                </span>
                                <span class="label success">
                                    {{test.timestamp | date:'medium'}}
                                    <i class="fa fa-clock-o"></i>
                                </span>
                                <span class="label">
                                    RX: <i ng-if="test.rx_bool" class="fa fa-check"></i>
                                        <i ng-if="!test.rx_bool" class="fa fa-times"></i>
                                </span>
                                <i class="fa fa-thumbs-o-up"></i> {{test.like_count}}
                                <i class="fa fa-comment-o"></i> {{test.comment_count}}
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>